@import "common";
body{
	font-size:12px;
	color:#333;
	background:#fff;
	font-family:"Microsoft YaHei";
}
// 头部
#topbox{
	height:30px;
	background:#f5f5f5;
	.top{
		width:1200px;
		height:30px;
		margin:0 auto;
		.top-index{
			float:left;
			line-height:30px;
			.top-index-home{
				padding:0 20px 0 0;
			}
			.top-index-login{
				padding:0 20px 0 0;
				color:#666;
			}
		}
		.top-right{
			float:right;
			margin:0 -10px 0 0;
			li{
				float:left;
				margin:0 10px;
				height:30px;
				line-height:30px;
				a{
					color:#666;
					display:inline-block;
					text-decoration:none;
				}
				a:hover{
					color:#f33;
					text-decoration:underline;
				}
			}
			.zc-my-center{
				margin:0;
			}	
			.zc-hd{
				position:relative;
				padding:0 23px 0 10px;
				.ico{
					position:absolute;
					top:13px;
					right:10px;
					width:7px;
					height:4px;
					background: url(http://icon.zol-img.com.cn/newshop/shop/index/topbar_ico.png) no-repeat;
					background-position:0 -45px;
				}
			}
			.zc-hd:hover{
				color:#666;
				text-decoration:none;
			}
			.zc-hd-hover{
				background:#fff;
			}
			.zc-my-center-bd{
				position: absolute;
			    top: 29px;
			    left: 628px;
			    padding: 3px 9px;
			    width: 88px;
			    border: 1px solid #ededed;
			    background: #fff;
			    z-index:10;
			    border-top:none;
			    a{
					.focusShopNum{
						color:#f33;
			   	 	}
				}
				a:hover{
					color:#cc0000;
				}
			}
			.zc-mobile {
				magrin:0;
				.zc-hd {
					padding:0 23px 0 25px;
				    background: url(http://icon.zol-img.com.cn/newshop/shop/index/topbar_ico.png) no-repeat;
					background-position:0 1px;
				}
				.zc-hd-hover{
					background: url(http://icon.zol-img.com.cn/newshop/shop/index/topbar_ico.png) no-repeat #fff;
					background-position:0 1px;
				}
				.zc-mobile-bd{
					position: absolute;
				    top: 29px;
				    left: 886px;
				    padding: 20px;
				    width: 130px;
				    height: 130px;
				    border: 1px solid #ededed;
				    background: #fff;
				    z-index:10;
				    border-top:none;
				}
			}
			.zc-service-tel{
				display: none;
			    position: absolute;
			    top: 29px;
			    right: 13px;
			    padding: 3px 9px;
			    width: 80px;
			    border: 1px solid #ededed;
			    font: 12px/28px arial;
			    text-align: right;
			    background: #fff;
			    border-top:none;
			}
			.zc-hd-hover{
				background:#fff;
			}
		}
	}
}

// logo部分
#header{
	height:60px;
	padding:30px 0;
	background:#fff;
	.head{
		width:1200px;
		height:60px;
		margin:0 auto;
		h1{
			float:left;
			a{
				display:block;
				width:130px;
				height:60px;
				background:url("../images/logo.png") no-repeat; 
				font-size:0;
			}
		}
		
		.city{
			float:left;
			margin:10px 0 0 20px;
			border:1px solid #e6e6e6;
			position:relative;
			zoom:1;
			.city-name{
				display:block;
				height:26px;
				font-size:14px;
				line-height:26px;
				padding:0 26px 0 12px;
				cursor:pointer;
				.icon{
					position:absolute;
					right:12px;
					top:11px;
					width:9px;
					height:5px;
					background:url("http://icon.zol-img.com.cn/newshop/shop/index/head.png") no-repeat;
					background-position:-28px -155px;
				}
			}
			.city-list{
			    width: 180px;
			    padding: 8px 0;
			    position: absolute;
			    left: -1px;
			    top: 25px;
			    background-color: #fff;
			    z-index: 101;
			    border: 1px solid #e6e6e6;
			    border-top:none;
			    li{
			    	float: left;
				    padding: 2px 10px;
				    height: 26px;
				    font-size:12px;
				    a{
				    	display: inline-block;
					    padding: 6px 8px;
					    color: #333;
					    white-space: nowrap;
				    }
				    a:hover{
				    	background:#f4f4f4;
			    		color:#ce1a1b;
			    	}
				    .cur{
				    	background-color: #ce1a1b;
    					color: #fff;
				    }
				    .cur:hover{
						background-color: #ce1a1b;
    					color: #fff;
				    }
			    } 
			}
		}
		.entry{
			float: right;
    		margin: 0 0 0 65px;
    		padding: 17px 0 0;
    		a{
    			position: relative;
			    zoom: 1;
			    float: right;
			    margin: 0 0 0 20px;
			    font-size: 14px;
			    color: #333;
			    font-family:"Microsoft YaHei";
    		}
    		a:hover{
    			color:red;
    		}
    		.car {
				padding: 0 0 0 24px;
	    		.ico{
	    			position:absolute;
	    			top:0;
	    			left: 0;
				    width: 18px;
				    height: 18px;
				    background:url("http://icon.zol-img.com.cn/newshop/shop/index/head.png") no-repeat;
				    background-position: 0 -211px;
	    		}
	    		.number{
					position: absolute;
				    left: 12px;
				    top: -7px;
				    padding: 0 3px;
				    height: 13px;
				    font-size: 12px;
				    color: #fff;
				    background: #f33;
				    border-radius: 10px;
	    		}
    		}
    		.car:hover .ico{
				background-position:-32px -211px;
    		}
    		.coupon{
    			padding: 0 0 0 27px;
    			.ico{
    				position:absolute;
    				top: 0;
    				left:0;
				    width: 22px;
				    height: 18px;
				    background:url("http://icon.zol-img.com.cn/newshop/shop/index/head.png") no-repeat;
				    background-position: 0 -190px;
    			}
    		}
    		 .coupon:hover .ico{ 
    		 	background-position:-28px -190px;
    		 }
    		.order{
    			padding: 0 0 0 28px;
    			.ico{
    				position:absolute;
    				top:0;
    				left:0;
				    width: 20px;
				    height: 20px;
				    background:url("http://icon.zol-img.com.cn/newshop/shop/index/head.png") no-repeat;
				    background-position: 0 -167px;
    			}
    		}
    		.order:hover .ico{ 
    			background-position:-30px -167px;
    		}
		}
		.search-box{
			float:right;
			margin:7px 0 0 0;
			.search{
				    position: relative;
				    zoom: 1;
				    width: 536px;
				    height: 32px;
				    border: 2px solid #ec3639;
				.search-text{
					padding: 6px 10px;
				    width: 441px;
				    height: 20px;
				    font-size: 14px;
				    font-family:"Microsoft YaHei";
				    color: #666;
				    border: 0 none;
				    outline: 0 none;
				}
				.search-btn{
					width:75px;
					height:32px;
					position:absolute;
					top:0;
					right:0;
					border:0 none;
					color:#fff;
					font-size:16px;
					background:#ec3639;
					cursor:pointer;
				}
				.search-hot-words{
					position: absolute;
				    top: 7px;
				    right: 85px;
				    a{
				    	display: inline-block;
						margin: 0 0 0 5px;
						padding: 0 5px;
						font-size: 12px;
						background: #eee;
						color: #757575;
						transition: all 0.2s;
					}
					a:hover{
						background:#ec3639; 
						color:#fff; 
						text-decoration:none;
					}
				}
			}
		}
	}
}

// 导航栏
.nav-box{
	height:40px;
	background:#fff;

}
.nav{
	width:1200px;
	height:40px;
	line-height:40px;
	margin:0 auto;
	position:relative;
	border-bottom:2px solid #ec3639;
	.nav-ul{
		padding:0 0 0 180px;
		li{
		float: left;
	    padding: 0 30px 0 0;
	    height: 39px;
	    font-size: 18px;
		}
		a{
			loat: left;
   		 	padding: 0 10px;
    		color: #333;
		}
		a:hover{
			color:#f33;
		}
		.current a{
			color:#f33;
		}
	}
	.nav-classify{
		clear:both;
		float: left;
	    position: relative;
	    margin: -39px 0 0;
	    width: 160px;
	    height: 40px;
	    z-index:100;
	    background-color: #ec3639;
	    .nav-classify-header{
			padding: 0 0 0 52px;
	    	font-size: 16px;
	    	font-family:"Microsoft YaHei","\5FAE\8F6F\96C5\9ED1";
	    	color: #fff;
	    	cursor: pointer;
	    	.ico{
	    		position: absolute;
			    top: 14px;
			    left: 26px;
			    width: 12px;
			    height: 10px;
			    background:url("http://icon.zol-img.com.cn/newshop/shop/index/head.png") no-repeat;
			    background-position: 0 -154px;
	    	}
		}
		.nav-classify-body{
			position: absolute;
		    top: 39px;
		    left: 0;
		    width:160px;
		    background-color: #fff;
		    .nav-items{
		    	position: relative;
			    height: 400px;
			    overflow: hidden;
			    background-color: #454545;
		     .item{
		     	position:relative;
				height:54px;
				margin:-1px 10px 0;
				padding:0 0 0 42px;
				border-top: 1px solid #4d4d4d;
				h3{
					position:relative; 
					font-size:16px;
					height:54px;
					line-height:54px;
					a{
						color:#fff;
					}
					i{
						position: absolute;
					    top: 23px;
					    right: 12px;
					    width: 6px;
					    height: 11px;
					    background: url(http://icon.zol-img.com.cn/newshop/shop/index/head.png) no-repeat;
					    background-position: -44px -154px;
					}
				}
				i{
					position:absolute;
					background: url(http://icon.zol-img.com.cn/newshop/shop/index/head.png) no-repeat;
				}
				.icon-01{
					left: 16px;
				    top: 17px;
				    width: 13px;
				    height: 18px;
				    background-position: 0 0;
				}
				.icon-02{
					left: 12px;
				    top: 20px;
				    width: 20px;
				    height: 16px;
				    background-position: 0 -21px;
				}
				.icon-03{
					left: 13px;
				    top: 19px;
				    width: 19px;
				    height: 18px;
				    background-position: 0 -133px;
				}
				.icon-04{
					left: 12px;
				    top: 17px;
				    width: 20px;
				    height: 18px;
				    background-position: 0 -40px;
				}
				.icon-05{
					left: 15px;
				    top: 11px;
				    width: 15px;
				    height: 27px;
				    background-position: 0 -61px;
				}
				.icon-06{
					left: 13px;
				    top: 18px;
				    width: 19px;
				    height: 17px;
				    background-position: 0 -91px;
				}
		     }
		     .item_hover{
		     	position:relative;
				height:54px;
		     	margin:-1px 0 0;
		     	z-index:2;
		     	padding:0 0 0 51px;
		     	background:#fff;
		     	color:#333;
		     	border-top: 1px solid #4d4d4d;
		     	border-left:2px solid #454545;
		     	.col{
		     		color:#333;
		     	}
		     	a:hover{
		     		text-decoration:underline;
		     		color:#f33;
		     	}
		     	.icon-01{
		     		background-position:-37px 0;
		     		left:24px;
		     		top:17px;
		     		width:13px;
		     		height:18px;
		     	}
		     	.icon-02{
		     		background-position:-30px -21px;
		     		left:20px;
		     		top:20px;
		     		width:20px;
		     		height:16px;
		     	}
		     	.icon-03{
		     		background-position:0px -21px;
		     		left:12px;
		     		top:20px;
		     		width:20px;
		     		height:16px;
		     	}
		     	.icon-04{
		     		background-position:-30px -40px;
		     		left:20px;
		     		top:17px;
		     		width:20px;
		     		height:18px;
		     	}
		     	.icon-05{
		     		background-position:-35px -61px;
		     		left:21px;
		     		top:18px;
		     		width:19px;
		     		height:17px;
		     	}
		     	.icon-06{
		     		background-position:-31px -91px;
		     		left:20px;
		     		top:20px;
		     		width:20px;
		     		height:16px;
		     	}
		     }
		    }
		    .nav-items-hide{
		    		position:absolute;
					width:680px;
					height:401px;
					top:0;
					left:160px;
					z-index:10;
					display:none;
		    	.hide{
		    		height:401px;
		    		background:#fff;
		    		box-shadow: 4px 0 5px 0 #ccc;
					span{
						margin:28px;
						padding:1px;
						a{
							color:#666;
							font-size:14px;
							font-family:"Microsoft YaHei";
						}
						a:hover{
							color:#f33;
							text-decoration:underline;
						}
					}
					.hide-pic{
						a{
							img{
								width:620px;
								height:290px;
							}
						}
					}
				}
		    }	    
		}
	}
}

// 中间
.crumbs_bar_box{
	height:26px;
	.crumbs_bar{
		width:1200px;
		height:26px;
		margin:0 auto;
		line-height:26px;
		.total{
			float:right;
		}
		.crumbs_nav{
			font-size:14px;
			margin-top:25px;
			li{
				float:left;
				padding-right:10px;
				a{
					color:#333;
				}
				a:hover{
					color:#cc0000;
				}
			}
			.photo{
				border:1px solid #ccc;
				padding:5px;
			}
			.photo:hover{
				border:1px solid #cc0000;
			}
			.num_photo{
				border:1px solid #ccc;
				padding:5px;
			}
			.num_photo:hover{
				border:1px solid #cc0000;
			}
		}
	}
}

// 筛选
.selectbox{
	margin-top:20px;
	.select{
		width:1200px;
		margin:0 auto;
		border: 2px solid #e6e6e6;
    	position: relative;
		.brand{
			width:1200px;
			height:39px;
			line-height:39px;
			dl{
				dt{
					float:left;
					background:#f7f7f7;
   		 			width: 94px;
    				height: 38px;	
    				color:#666;	
    				text-align:right;
    				padding-right:10px;
				}
				.list{
					height:38px;
					border-bottom:1px solid #e6e6e6;
					dd{
						float:left;
						padding:0 15px;
						a{
							color:#666;
						}
						a:hover{
							color:#cc0000;
							text-decoration:underline;
						}
					}
				}
			}
		}
		.show_more{
			width:120px;
			height:26px;
			line-height:26px;
			text-align:center;
			background:#f7f7f7;
			margin-left:45%;
			color:#666;
			cursor:pointer;
		}
	}
}

// 主要部分
.mainbox{
	height:2000px;
	margin-top:60px;
	.main{
		width:1200px;
		height:2000px;
		margin:0 auto;
		.m_left{
			float:left;
			.top{
				width:960px;
				height:40px;
				position:relative;
				.toolbar{
					width:960px;
					float:left;
					background:#f7f7f7;
					border:1px solid #e6e6e6;
					li{
						height:38px;
						line-height:38px;
						text-align:center;
						float:left;
						a{
							padding:0 15px;
							color:#333;
						}
						
						a:hover{
							color:#cc0000;
						}
						.city{
							position: absolute;
						    top: 38px;
						    left: -1px;
						    padding: 10px 10px 5px;
						    width: 326px;
						    border: 1px solid #e6e6e6;
						    background: #fff;
						    z-index:10;
						    dl{
						    	line-height:25px;
						    	dt{
						    		clear:both;
						    		float:left;
						    		color:#999;
						    		padding:0 0 0 4px;
						    	}
						    	dd{		
						    		margin-left:5px;		    		
						    		float: left;
						    		a{
						    			padding:3px 6px;
						    		}
						    		a:hover{
						    			color:#fff;
						    			background:#ff3333;
						    		}
						    	}
						    }
						}
						.city_hover{
							margin-top:-1px;
							border-top:none;
						}
					}
					.place_hover{
						height:38px;
						outline:1px solid #e6e6e6;
						background:#fff;
					}
				}
				.mini-page{
					position:absolute;
					right:0;
					float:right;
					margin: 9px 10px 0 0;
				    height: 21px;
				    line-height: 21px;		
					em{
						float:left;
						color:#999;
						padding:0 2px 0 0;
					}
					.pre, .next{
						float: left;
					    margin: 0 0 0 6px;
					    width: 19px;
					    height: 19px;
					    text-indent: -9999em;
					    overflow: hidden;
					    border: 1px solid #dbdbdb;
					    background-color: #f7f7f7;
					    background: url(http://icon.zol-img.com.cn/newshop/shop/list/list_v2/zolcom_list_ico.png) no-repeat;
						background-position: 0 -50px;
					}
					.next{
					    background: url(http://icon.zol-img.com.cn/newshop/shop/list/list_v2/zolcom_list_ico.png) no-repeat #fff;
						background-position:0 -70px;
					}
				}
			}
			.commodity{
				width:960px;
				li{
					width:200px;
					height:348px;
					float:left;
					margin-top:20px;
					padding:20px 20px 10px;
					position:relative;
					a{
						width: 200px;
					    height: 200px;
					    text-align: center;
					    vertical-align: middle;
					}
					.title{
					    height:38px;
					    padding:16px 0 0;
					    overflow:hidden;
					    a{
					    	color:#666;
					    }
					    a:hover{
					    	color:#cc0000;
					    	text-decoration:underline;
					    }
					}
					.price{
						float: left;
					    font: 18px/32px Verdana;
					    color: #f33;
					}
					.volume{
						clear:both;
						.v-left{
							float:left;
						}
						.v-right{
							float:right;
						}
					}
					.shop-info{
						clear:both;
						.shop-name{
							a{
								color:#666;
							}
						}
						.shop-volume{
							color:#999;
							em{
								color:#666;
							}
						}
					}
					.attention{
						position: absolute;
					    right: 10px;
					    top: 196px;
					    width: 57px;
					    height: 24px;
						font-weight:bold;
						text-align:center;
						line-height:24px;
						color:#fff;
						background: rgba(0,0,0,0.3);
					}
				}
				.li_hover{
					outline:1px solid #e6e6e6;
					box-shadow:0 0 5px rgba(0, 0, 0, .1);
				}
			}

		}
			
		// 本地优选
		.local{
			width:220px;
			border:1px solid #e6e6e6;
			float:right;
			.local_top{
				height:38px;
				line-height:38px;
				background: #f7f7f7;
    			border-bottom: 1px solid #e6e6e6;
				h3{
					float:left;
				}
				span{
					float:right;
					color:#d0d0d0;
				}
			}
			.local_list{
				padding:10px 10px 0;
				li{
					padding: 0 0 19px;
					.title{
						padding:6px 0 0;
						a{
							color:#333;
						}
						a:hover{
							color:#cc0000;
							textdecoration:underline;
						}
					}
					.price{
						padding:7px 0 0;
						font-size:14px;
						color:#f33;
					}
					.shop_name{
						padding:9px 0 0;
						height:18px;
						text-overflow: ellipsis;
					    white-space: nowrap;
					    overflow: hidden;
					    a{
					    	color:#666;
					    }
					    a:hover{
							color:#cc0000;
							textdecoration:underline;
						}
					}
					.shop_address{
						margin: 5px 0 0;
					    padding: 0 0 0 16px;
					    height: 18px;
					    font-size: 12px;
					    text-overflow: ellipsis;
					    white-space: nowrap;
					    overflow: hidden;
					    background: url(http://icon.zol-img.com.cn/newshop/shop/list/list_v3/address-ico.png) no-repeat;
					    color: #999;
					}
				}
			}
		}

		// 底部分页
	}
}

.page{
	width:962px;
	display:block;
	margin: 0 -2px 0 0;
	padding: 50px 0 30px;
	text-align: center;
	font-family: "微软雅黑";
	span{
		display: inline-block;
   		margin: 0 2px;
		height: 32px;
	    vertical-align: middle;
	    white-space: nowrap;
	    text-align: center;
	    font-size: 14px;
	    line-height: 32px;
		border:1px solid #e6e6e6;
	}
	.prev{
	   padding: 0 12px 0 25px;
	   verticle-align:middle;
	   background: url(http://icon.zol-img.com.cn/newshop/shop/list/list_v2/zolcom_list_ico.png) no-repeat;
	   background-position: 0 -208px;
	   a{
	   	color:#b3b3b3;
	   }
	}
	a{
		color:#fff;
		.first{
			padding:0 12px;
			background:#c00;
		}
	}
	a{
		color:#333;
		span{
			padding:0 12px;			
		}
	}
	a:hover{
    	color: #333;
    	span{
    		border: 1px solid #c00;
    	}
	}
	.next{
		padding: 0 25px 0 12px;
	   	verticle-align:middle;
	    background: url(http://icon.zol-img.com.cn/newshop/shop/list/list_v2/zolcom_list_ico.png) no-repeat;
		background-position: 100% -184px;
	}
	.next:hover{
		border: 1px solid #c00;
	}
}

// 底部
.foot-box{
	height:180px;
	background:#f7f7f7;
}
.foot{
	width:1200px;
	height:180px;
	padding:20px 0;
	margin:0 auto;
	dl{
		width:175px;
		float:left;
		dt{
			font-size:14px;
			color:#666;
			font-weight:bold;
			height:28px;
		}
		dd{
			height:28px;
			a{
				color:#666;
			}
			a:hover{
				text-decoration:underline;
			}
		}
	}
	.hotline{
		width: 210px;
		float: left;
    	padding: 0 0 0 60px;
		background: url(http://icon.zol-img.com.cn/newshop/shop/index/footer.png) no-repeat;
    	background-position: 0 -90px;
	}
	.coorperation{
		width: 145px;
		float: left;
    	padding: 0 0 0 60px;
		background: url(http://icon.zol-img.com.cn/newshop/shop/index/footer.png) no-repeat;
	    background-position: 0 -215px;
	    .btn{
	    	display: block;
		    margin: 6px 0 0;
		    width: 80px;
		    height: 26px;
		    line-height:26px;
		    color: #fff;
		    text-align: center;
		    background: #f33;
		    border-radius: 2px;
	    }
	    .btn:hover{
	    	background-color:#c40000;
	    	text-decoration:none;
	    }
	}
}

// 右边悬浮
.suspand{
	position:fixed;
	right:0;
	top:0;
	width:107px;
	height:100%;
	z-index:2000;
	margin-right:-70px;
	.su_left{
		width:37px;
		height:100%;
		position:absolute;
		left:0;
		background:#2d2d2d;
		z-index:2050;

		.le{
			margin-top:100px;
			a{
				display:block;
				width:37px;
				height:37px;
				margin-bottom:10px;
				li{
					position:relative;
					width:37px;
					height:37px;			
					background: url(http://icon.zol-img.com.cn/newshop/shop/MarketingTool/setcoupon/bar_ico.png) no-repeat;
				}
				.le1{
					background-position: 0 0;
				}
				.le2{
					background-position: 0 -74px;
				}
				.le3{

					background-position: 0 -111px;
					.zero{
						position: absolute;
					    top: -4px;
					    right: 3px;
					    padding: 1px 4px 0;
					    height: 13px;
					    font: 12px/13px Arial;
					    background: #f33;
					    color: #fff;
					    border-radius: 10px;
					}
				}
				.le4{
					background-position: 0 -693px;
				}
			}
		}
		.ri{
			margin-right:-10px;
			width:37px;
			height:37px;
		}
	}
	.su_right{
		width:70px;
		height:100%;
		position:absolute;
		right:0;
		background:#fff;
		z-index:2020;
		.ri{
			margin-top:100px;
			li{
				width:70px;
				height:37px;
				position:absolute;
				text-align:center;
				line-height:37px;
				background:#ff3333;
				color:#fff;
			}
			.ri1{
				top:100px;
				left:0;
			}
			.ri2{
				top:147px;
				left:0;
			}
			.ri3{
				top:194px;
				left:0;
			}
			.ri4{
				top:241px;
				left:0;
			}
		}	
	}
	.bo{
		position:absolute;
		bottom:0;
		display: block;
		width: 37px;
		height: 37px;
		background-color: #2d2d2d;
		background: url(http://icon.zol-img.com.cn/newshop/shop/MarketingTool/setcoupon/bar_ico.png) no-repeat;
		background-position: 0 -185px;
	}
	.bo:hover{
		background: url(http://icon.zol-img.com.cn/newshop/shop/MarketingTool/setcoupon/bar_ico.png) no-repeat #ff3333;
		background-position: 0 -185px;
	}
}