@import "common";
body{
	font-size:12px;
	color:#333;
}
// 顶部logo
.logobox{
	height:94px;
	margin-top:50px;
	.logo{
		width:990px;
		height:94px;
		margin:0 auto;
		.logo_left{
			padding-top:20px;
			float:left;
			a{
				float:left;
			}
			span{
				height:40px;
				line-height:40px;
				border-left:1px solid #e6e6e6;
				margin:10px 0 0 8px;
				padding-left:10px;
				font-size:14px;
				color:#666;
				float:left;
			}
		}
		.logo_right{
			font-size:14px;
			height:62px;
			line-height:62px;
			float:right;
			margin-top:20px;
			a{
				color:#c00;
				padding:0 7px;
			}
			a:hover{
				background:#cd1f1f;
				color:#fff;
			}
		}
	}
}

// 中间注册
.registerbox{
	height:770px;
	.register{
		width:990px;
		height:770px;
		margin:0 auto;
		border:1px solid #e6e6e6;
		.top{
			height:60px;
			text-align:center;
			line-height:60px;
			font-size:18px;
			color:#999;
			background:#fafafa;
		}
		.center{
			height:710px;
			background:#fff;
			.left{
				width:500px;
				height:100%;
				float:left;
				padding:35px 100px;
				.l_top{
					width:500px;
					height:40px;
					.l_left{
						width:248px;
						height:38px;
						float:left;
						line-height:30px;
						border:1px solid #e6e6e6;
						border-top:2px solid #e02d2d;
						border-bottom:none;
						span{
							margin-left:68px;
							font-size:18px;
							padding: 5px 0 0 20px;
							color:#c00;
							background:url(https://login.zol.com/image/login-bg.png) no-repeat;
							background-position:-158px -235px;
						}
					}
					.l_right{
						width:250px;
						height:40px;
						float:left;
						border-bottom:1px solid #e6e6e6;
					}
				}
				.l_bottom{
					padding:30px 0 0;
					.re_form{
						width:500px;
						height:40px;
						margin:0 0 42px;
						position:relative;
						.label{
							float:left;
							width: 90px;
							line-height:40px;
						    font-size: 14px;
						    text-align: right;
						    color: #666;
						    em{
						    	padding: 0 7px 0 0;
						    	color:#f30;
						    }
						}
						#yzm{
							width:160px;
						}
						// 验证码
						.box{
							position:absolute;
							right:120px;
							width:100px;
							height:40px;
							background:red;
						}
						#img{
							position:absolute;
							bottom:-23px;
							right:120px;
							color:#4f87ff;
							cursor:pointer;
						}
						input{
						 	outline:none;
						}
						.phone{
						 	float:left;
						 	display: block;
							margin: 0 10px 0 0;
							padding: 8px 5px;
							width: 278px;
							height: 22px;
							border: 1px solid #ccc;
						}
						.warn{
							position: absolute;
						    top: 0;
						    left: 383px;
							color: #ff3333;
							padding: 11px 0 0 20px;
							background:url(https://login.zol.com/image/login-bg.png) no-repeat;
							background-position: -155px -184px;
						}
						.tips{
							position:absolute;
							top: 47px;
						    left: 90px;
						    color: #aaa;
						}

					}
				}
			}
			.right{
				float:left;
				width:170px;
				height:100%;
				text-align:center;
				line-height:25px;
			    padding: 0 80px 0 25px;
			    border-left: 1px solid #f5f5f5;
			    p:nth-child(1){
			    	margin-top:20px;
			    	a{
			    		color:blue;
			    	}
			    	a:hover{
			    		color:#cc0000;
			    		text-decoration:underline;
			    	}
			    }
			    .login{
			    	margin-left:5px;
			    }
				.item{
					display: block;
				    margin: 15px 0 0;
				    width: 170px;
				    height: 36px;
				    text-indent: -9999em;
				    overflow: hidden;
				    zoom: 1;
				}
				.a1{
					background:url(http://icon.zol-img.com.cn/newshop/login/weixin.png) 0 0 no-repeat
				}
				.a2{
					background:url(https://login.zol.com/image/login-bg.png) 0 0 no-repeat;
				}
				.a3{
					background:url(https://login.zol.com/image/login-bg.png) 0 -37px no-repeat;
				}
				.a4{
					background:url(https://login.zol.com/image/login-bg.png) 0 -74px no-repeat;
				}
				.a5{
					background:url(https://login.zol.com/image/login-bg.png) 0 -111px no-repeat;
				}
			}
		}
	}
}
